<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <header>
        <img src="{{ '/images/style/visualore-header.svg' | relative_url }}" alt="VisuaLore" >
        <!-- Your navigation or other header content here -->
    </header>
    {%- include head.html -%}
<!-- Write your comments here 
  {% include mathjax.html %} -->
  
    <link rel="stylesheet" href="tufte.css"/>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

  </body>

</html>
